/* assets/main.css */  
@import url("https://fonts.googleapis.com/css?family=Raleway:200,700|Source+Sans+Pro:300,600,300italic,600italic");

/* 主 */  

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {  
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  color: #333;  
  line-height: 1.6;  
  background-color: #bdbdbd;
}

/* 头 */  
header {
  font-family: Raleway, Helvetica, sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #000;
  border-bottom: 1px solid #383737a4;
  height: 10vh;
}

header h1 {
  font-size: 24px;
  font-weight: bold; 
  color: #ffffff;
}

nav ul {
  list-style-type: none;
  display: flex;
}

nav ul li {
  margin-right: 10px;
} 

nav ul li a {
  display: block;
  padding: 5px 10px;
  text-decoration: none;
  color: #c7c7c7;
  border-radius: 4px;
  transition: all 0.2s ease;
}

nav ul li a:hover {
  background-color: #3d3938;
  color: #fff;
}

/* note控件封装 用法  class="note"  */
.note {
  margin: auto;
  background-color: rgba(139, 202, 253, 0.938);
  border-radius: 0.25rem;
  border-left: 5px solid blue;
  padding: 20px;
  text-align: center;
  text-rendering: optimizespeed;
  box-shadow: 0 4px 8px #c4dff6;
  max-width: 1200px;
}